<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <div id="app">
    <h2>Judul Buku</h2>
    <input type="text" placeholder="search" v-model="search" />
    <ul v-for="bk in filterbook">
        <li> {{bk.buku}} </li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
          search: '',
          book: [
              {buku: 'Kalkulus Dasar'},
              {buku: 'Fisika Dasar'},
              {buku: 'Aljabar Linier Elementer'},
              {buku: 'Aljabar Abstrak'},
              {buku: 'Algoritma Pemrograman'}
          ]
      },
      computed: {
          filterbook: function(){
              return this.book.filter((bk)=>{
                  return bk.buku.toLowerCase().match(this.search.toLowerCase())
              });
          }
      }
    })
  </script>
</body>

</html>